{% extends "emails/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Confirm Your Signup" %}
{% endblock %}


{% block content %}
 <div class="parent-container" style=" max-width:100% ; width: 500px;  margin: auto; border: 1px solid #ccc; border-radius: 8px;">
    <!-- Header Section -->
    <div style="display:flex; height: 10vh; background: #22C55E; text-align: center; margin:auto; border-radius: 8px 8px 0 0;">
        <div style="width: 45%; height: 60%; margin:auto;">
            <img src="https://justagile-be.vercel.app/static/images/full_logo.png" alt="full logo" style="width: 100%; height: 100%;">
        </div>
    </div>

    <!-- Content Section -->
    <div style="margin-top: 2rem; text-align: center;">
        <div style="width: 28%; height: 25%; margin: 0 auto;">
            <img src="https://justagile-be.vercel.app/static/images/mail_template.jpg" alt="mail template" style="width: 100%; height: 100%;">
        </div>
        <p style="color: #6c757d; margin-top: 1.5rem; font-size:14px; font-weight:bold;">
            {% trans "Reset your password?" %}
        </p>
    </div>

    <!-- Separator -->
    <hr style=""/>

    <!-- Instructions Section -->
    <div style="display: block; text-align: center; padding: 5px;">
        <div style="margin: auto; width: 100%;">
            <p style="font-size: 14px; font-weight: bold; margin-bottom: 0.5rem;">
                {% trans "Not to worry, we got you! Let's get you a new password" %}
            </p>
            <p style="font-size: 13px; font-weight: 400; margin-bottom: 0.5rem;">
                {% trans "To complete your process, please click the link below to reset your password" %}
            </p>
            <div style="margin-top: 1.5rem; margin-bottom: 0.5rem; text-align: center;">
                <a href="{{ confirmation_link }}" target="_blank"
                   style="background-color: #22C55E; color: black; padding: 7px 15px; text-decoration: none; border-radius: 5px; display: inline-block; font-size: 14px; font-weight: bold; text-align: center; margin: 0 auto;">
                   {% trans "Reset Password" %}
                </a>
            </div>
            <div style="display: block; margin-top: 1rem; text-align: center;">
                <p style="margin: auto;">
                    {% trans "Didn't make the request?" %}
                    <a href="{{support_link}}" style="color: #22C55E; text-decoration: none;">{% trans "Let us know" %}</a>
                </p>
            </div>
            <div style="display: block; margin-bottom: 1rem; text-align: center;">
                <p class="mb-1" style="font-size: 12px;">{% trans "Thanks" %}</p>
                <p class="mb-0" style="font-size: 12px;">{% trans "JustAgile Team" %}</p>
            </div>
        </div>
    </div>
    <!-- Footer -->
       {% include "emails/footer.html" %}
</div>


    
        

{% endblock %}
