{% extends "emails/base.html" %}
{% load i18n %}

{% block title %}
{% trans "MeetHive Support" %}
{% endblock %}


{% block content %}
    <div class="parent-container" style=" max-width:100% ; width: 475px;  margin: auto; border: 1px solid #ccc; border-radius: 8px;">
    {% include "emails/partials/email-header-brand.html" with header_bg="#22C55E" wordmark_color="#0f172a" %}

    <div class="text-center my-2" style="text-align: center; margin-top:4px; margin-bottom:4px; padding: 4px;">
        {{ body }}
    </div>

    <!-- Footer -->
       {% include "emails/footer.html" %}
</div>
    
        

{% endblock %}
